@using System.Collections.Generic
@model IEnumerable<Naspinski.FoodTruck.Data.Distribution.Models.Events.LocationModel>
@using Naspinski.FoodTruck.Admin.Models
@await Html.PartialAsync("_IndexHeader", new IndexHeaderModel("Location", "Locations"))
<ul class="list-group">
    @if (!Model.Any())
    {
        <li class="list-group-item">
            no locations
            <a asp-area="" asp-controller="Location" asp-action="Edit">add Location</a>
        </li>
}
    @foreach (var item in Model)
    {
        <li class="list-group-item" id="item-@item.Id">
            <h4>
                <span class="pull-right">
                    <a class="btn btn-default item-delete" data-id="@item.Id" data-restore="@item.IsDeleted">
                        <i class="glyphicon @(item.IsDeleted ? "glyphicon-refresh" : "glyphicon-trash")"></i>
                    </a>
                    <a class="btn btn-default" asp-area="" asp-controller="Location" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </span>
                @item.Name
            </h4>
        </li>
    }
</ul>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.item-delete').on('click', function (e) {
                const id = $(this).data('id');
                const restore = $(this).data('restore');
                e.preventDefault();
                $.ajax('/Location/Delete/' + id + '?isRestore=' + restore, {
                    type: 'Delete',
                    success: function (data) {
                        $.toast({ text: 'Deleted', icon: 'success' })
                        $('#item-' + id).remove();
                    },
                    error: function (data) {
                        $.toast({ text: 'Unknown error occurred', hideAfter: false, icon: 'error' })
                    }
                })
            });
        });
    </script>
}
